{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href="/static/css/roboto.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>СушиShop</title>
</head>

<body>
    <nav class="navbar">
        <a class="header__logo" href="{% url 'index' %}">СушиShop</a>
    </nav>

    {% block breadcrumbs %}{% endblock breadcrumbs %}

    {% block content %}{% endblock content %}
    <div class="content__container">
        <h2>🍣 Добро пожаловать в СушиShop - Ваш идеальный сервис доставки суши! 🍣</h2>

        <p>В СушиShop мы предлагаем вам самые вкусные и свежие суши, приготовленные нашими опытными шеф-повара.
            Наслаждайтесь изысканными вкусами Японии прямо у себя дома или в офисе. 🏠🏢</p>

        <h2>🍱 Почему выбирают СушиShop? 🍱</h2>

        <ul>
            <li>🌟 <strong>Качество:</strong> Мы используем только самые свежие и высококачественные ингредиенты для
                приготовления наших блюд.</li>
            <li>⏰ <strong>Быстрая доставка:</strong> Наша команда доставки гарантирует, что ваш заказ будет у вас как
                можно быстрее, чтобы вы могли наслаждаться свежими суши.</li>
            <li>🌍 <strong>Широкий выбор:</strong> У нас есть блюда на любой вкус - от классических роллов до
                экзотических вариантов.</li>
            <li>💰 <strong>Цена:</strong> Мы предлагаем конкурентоспособные цены и регулярные акции для наших клиентов.
            </li>
        </ul>

        <h2>📲 Как сделать заказ? 📲</h2>

        <p>Сделать заказ в СушиShop просто как никогда! Просто выберите свои любимые блюда из нашего меню, добавьте их в
            корзину и оформите заказ. Наша команда доставки привезет ваш заказ прямо к вашей двери. 🚀</p>

        <h2>🎁 Специальные предложения и акции 🎁</h2>

        <p>Не забудьте проверить наши специальные предложения и акции, чтобы получить еще больше вкусных суши по
            выгодной цене! 🎉</p>

        <h2>📞 Свяжитесь с нами 📞</h2>

        <p>Если у вас есть вопросы или предложения, не стесняйтесь связаться с нами. Мы всегда рады помочь! ☺️</p>

        <p>СушиShop - ваш идеальный выбор для вкусных и свежих суши с доставкой! 🍣🚚</p>
    </div>
</body>

</html>